.listitem{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid black;
   
    
}
.btndiv{
    display: flex;
    gap: 10px;
    margin: 10px;
}

.like{
    color: green;
}
.dislike{
    color:red;
}